body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}

nav{
    height: 50vh;
    width: 1000px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:35px;
    position: sticky;

    border: 3px solid rgb(201, 34, 0);
    border-radius: 10px;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: 'Inconsolata', sans-serif;
    font-size: 30px;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 2%;

    margin-bottom: 20px;
    position: relative;   
}

button:hover {
    cursor: pointer;
}

button {
    border-radius: 15px;
    margin-bottom: 5px;
    width: 175px;
    height: 50px;
    background-color: rgb(148, 41, 0, 1);
    border: 0px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.6);
}

.logo {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgb(0, 0, 0);
}

nav a:hover {
    color: rgb(201, 34, 0);
    text-decoration: underline;
}

.infoBox {
    background-color: rgb(232, 151, 132);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.4);

    font-family: 'Economica', sans-serif;
}

.info {
    border: 2px solid rgb(128, 128, 128);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: 'Economica', sans-serif;
}

.backButton {
    background-color: rgb(148, 41, 0, 0.0);
    box-shadow: 0 0 0 rgb(0, 0, 0);
    font-size: 23px;
    font-family: 'Economica', sans-serif;
}

.backBox {
    border: 2px solid rgb(128, 128, 128);
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 175px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);

    font-size: 23px;
    font-family: 'Economica', sans-serif;
}

.backButton:hover {
    color: white;
    font-style: italic;
    text-decoration: underline;
    transform: scale(105%);
}

.backBox:hover {
    transform: scale(105%);
}