body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}

nav{
    height: 50vh;
    width: 1000px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:35px;
    position: sticky;

    border: 3px solid rgb(201, 34, 0);
    border-radius: 10px;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: 'Inconsolata', sans-serif;
    font-size: 30px;
}

img {
    width: 70px;
    height: 70px;

    margin-bottom: 20px;
    position: relative;
    
    
}

.introTitle {
    background-color: rgb(232, 151, 132);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.4);

    font-family: 'Economica', sans-serif;
}

.intro {
    border: 2px solid rgb(128, 128, 128);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: 'Economica', sans-serif;
}

.event {
    background-color: rgb(232, 151, 131);
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height: 210px;
    position: relative;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.4);
}

.eventName {
    border: 2px solid rgb(128, 128, 128);
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 175px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);

    font-size: 23px;
    font-family: 'Economica', sans-serif;
}

.eventTime {
    margin-left: 10px;

    font-family: 'Economica', sans-serif;
    font-size: 17px;
}

/*.tickets {
    background-color: rgb(148, 41, 0);
    border-radius: 20px;
    width: 200px;
    height: 75px;
   
    position: relative;
    left: 80%;
    bottom: 70%;
    

    font-family: 'Inconsolata', sans-serif;
    color: white;
    
}*/


.event1:hover {
    color: white;
    font-style: italic;
    text-decoration: underline;
    transform: scale(105%);
}

.eventName:hover {
    transform: scale(105%);
}

button:hover {
    cursor: pointer;
}

button {
    border-radius: 15px;
    margin-bottom: 5px;
    width: 175px;
    height: 50px;
    background-color: rgb(148, 41, 0, 1);
    border: 0px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.6);
}

.event1 {
    background-color: rgb(148, 41, 0, 0.0);
    box-shadow: 0 0 0 rgb(0, 0, 0);
    font-size: 23px;
    font-family: 'Economica', sans-serif;
}

.tickets {
    left: 63%;
    bottom: 70%;
    position: relative;

    font-family: 'Inconsolata', sans-serif;
    font-size: 23px;
}

.tickets:hover {
    color: white;
    transform: scale(105%);
}

.logo {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 rgb(0, 0, 0);
}

nav a:hover {
    color: rgb(201, 34, 0);
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    
}